@import "tailwindcss";
@import "./styles/animations.css";

html,
body {
  margin: 0;
  padding: 0;

  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;

  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  background: #00171f;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes logo-bounce {
  0%,
  92%,
  100% {
    transform: translateY(0);
  }

  94% {
    transform: translateY(-5px);
  }

  96% {
    transform: translateY(0);
  }

  98% {
    transform: translateY(-2px);
  }
}

.logo-bounce {
  animation: logo-bounce 4s ease-in-out infinite;
}